.AddrBox{
    position: relative;
    background-color: #1a1a1a;
    color: white;
    border-radius: 20px;
    width: 60%;
    padding: 20px;
    display: flex;
}

.AddrBox:hover{
    background-color: rgb(65, 65, 65);
    border: rgba(209, 166, 61, 1) solid 1px;
}

.AddrBox u{
    font-size: 18px;
    font-weight: bold;
}


.AddrBox em{
    font-weight: lighter;
    font-size: 12px;
}

.Addrbuttons{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 15px;
    right: 25px;
    gap: 10px;
}

.editadress{
    background-color: transparent;
    cursor: pointer;
}

.editadress:hover{
    background-color: rgb(51, 50, 50);
}