.AddressPage{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    margin-left: 100px;
}

.btnAddAddr{
    background-color: rgba(209, 166, 61, 1);
    color: black;
    border: none;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    font-weight: bold;
    text-align: center;
}

.btnAddAddr:hover{
    opacity: 0.8;
    border: 2px solid black;
}
