html,body
{
    background-color: #121212;
    color: white;
    height: 100%;
}


.Couponimg
{
    max-width: 300px;
    max-height: 400px;
}

.displaycouppons
{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 10px;
    gap: 30px;
}

.Couponrow
{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.Couponimg
{
    display: flex;
    flex: 1;
}

.Couponimg
{
    cursor: pointer;
}