.product-img{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin: 20px;
  border-radius: 10px;
  grid-row: 2;
  grid-column: 1;
}

.MainImg{
  border: 2px solid rgba(209, 166, 61, 1);
  border-radius: 10px;
}

.thumbSec{
    display: flex;
    flex-direction: row;
    gap: 15px;
    min-height: 125px;
    margin-bottom: 20px;
    
}

.thumbnail{
  cursor: pointer;
  margin-top: 10px;
  transition: transform 0.3s ease;
  border: 2px solid rgba(209, 166, 61, 1);
  border-radius: 10px;
}

.thumbnail:hover{
  border: 2px solid rgba(209, 166, 61, 1);
  transform: scale(1.05);
}

.product-img img{
  border-radius: 10px;
}