html body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
  background-color: #121212;
}

.cApp{
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: auto 2fr 1fr;
}

.navBar {
  width: 100%;
  max-height: 40px;
  background-color: #1a1a1a;
  display: flex;
  padding-top:  10px;
  grid-column: 1 / -1;
  grid-row: 1;         
}
/*
rgba(209,166,61,255)
*/

.navBar .imgAetherteX{
  margin-left: 20px;
  cursor: pointer;
}

.navBar .searchBar{
  margin-left: 20px;
  width: 50%;
  max-height: 30px;
  border-radius: 10px 0px 0px 10px;
  border: none;
  padding-left: 10px;
}

.navBar .btnSearch{
  max-height: 32px;
  border-radius: 0px 10px 10px 0px;
  border: none;
  background-color: rgba(209, 166, 61, 1);
  color: white;
  cursor: pointer;
}

.navBar .btnSearch:hover{
  background-color: rgba(209, 166, 61, 0.8);
  border: gold solid 1px;
}
.navBar .userOptions{
  margin-left: 120px;
  width: 10%;
  max-height: 30px;
  display: flex;
  color: white;
  cursor: pointer;
  background-color: rgba(209, 166, 61, 1);
  border-radius: 30px;
}

.navBar .userOptions img{
  margin-left: 10px;
  margin-top: 5px;
}

.navBar .userOptions p{
  margin-left: 7px;
  margin-top: 6px;
  font-size: 16px;
}

.navBar .userOptions:hover{
  background-color: rgba(209, 166, 61, 0.8);
  border: gold solid 1px;
}

.navBar .Cart{
  margin-left: 20px;
  width: 10%;
  max-height: 30px;
  display: flex;
  color: white;
  cursor: pointer;
}

.navBar .Cart .NumOf{
  margin-left: -16px;
  margin-top: 5px;
  color: rgba(209, 166, 61, 1)
}

.navBar .Cart .cartTxt{
  margin-left: 10px;
  margin-top: 6px;
  font-size: 16px;
}

.searchBar:focus{
  outline:rgba(209, 166, 61, 1) solid 2px;
}


.product-img{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin: 20px;
  border-radius: 10px;
  grid-row: 2;
  grid-column: 1;
}

.MainImg{
  border: 2px solid rgba(209, 166, 61, 1);
  border-radius: 10px;
}

.thumbnail{
  cursor: pointer;
  transition: transform 0.3s ease;
}

.thumbnail:hover{
  border: 2px solid rgba(209, 166, 61, 1);
  transform: scale(1.05);
}

.product-img img{
  border-radius: 10px;
}

.product-info{
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  margin-left: 10px;
  grid-row: 2; 
  grid-column: 2;
}

.product-info h1{
  margin: 0;
  font-size: 30px;
  text-shadow: 
    -1px -1px 0 rgba(209, 166, 61, 1),  
     1px -1px 0 rgba(209, 166, 61, 1),
    -1px  1px 0 rgba(209, 166, 61, 1),
     1px  1px 0 rgba(209, 166, 61, 1);
}

.product-info .ratings{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.purchase-product{
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
  grid-row: 2;
  grid-column: 3;

}

.purchase-product button{
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    width: 175px;
    font-weight: bold;
    text-align: center;
}

.review-product{
  background-color: #121212;
  color: white;
  margin-top: 20px;
  grid-row: 3;
  grid-column: 1/ -1; 
}

/*
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
