:root {
  --primary-color: #c29a39;
  --primary-color-dark: #ae900c;
  --secondary-color: #ffffff;
  --background-color: #242424;
  --background-color-light: #2f2f2f;
}

button {
  border: none;
  border-radius: 15px;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  padding: 0 2rem;
  height: 70px;
  max-width: 94vw;
}

.logo {
  justify-items: center;
  cursor: pointer;
  padding-top: 15px;
}

.search-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.user-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  border: solid;
  border-color: var(--primary-color);
  padding: 5px;
  border-width: 2px;
  border-radius: 30px;
  width: 12vw;
  transition: opacity 0.2s ease;
  background-color: #c29a39;
}

.user-info-container {
  width: 60%;
  color: white;
}

.user-container:hover {
  background-color: #ddad3c;
}

.username {
  font-size: 1rem;
}

.search-button {
  border: none;
  padding: 6px;
  border: solid;
  border-width: 2px;
  border-color: transparent;
  border-radius: 0;
  border-end-end-radius: 18px;
  border-top-right-radius: 18px;
  width: 90px;
  background-color: #c29a39;
  transition: background-color 0.1s ease-in;
  cursor: pointer;
}

.search-button:hover {
  background-color: #ddad3c;
}

.search-container {
  background-color: white;
  border: solid;
  border-width: 2px;
  border-color: var(--primary-color);
  border-radius: 20px;
  width: 40vw;
}

.search-input {
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 5px;
  margin: 5px;
  height: 20px;
  caret-color: black;
  color: black;
}

.search-input:focus {
  outline: none;
  border: none;
}

.navbarRightContainer {
  display: flex;
  align-items: center;
  gap: 25px;
}

.cart-icon {
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.cart-icon-container {
  position: relative;
  display: inline-block;
}

.cart-counter {
  position: absolute;
  padding: 5px;
  bottom: auto;
  left: auto;
  color: white;
  font-size: large;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-weight: 750;
}
