html,body
{
    background-color: #121212;
    color: white;
    height: 100%;
}


.DisplayDetailedOrder
{
    display: flex;
    flex-direction: row;  
    gap: 10px;
}

.orderproducts
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 3;
}

.ordersummies
{
    display: flex;
    flex-direction: column;
    gap: 10px; 
    flex: 1;
    background-color: #1f1f1f;
    border-radius: 20px;
    padding: 5px;
}

.product
{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1f1f1f;
    border-radius: 20px;
    padding: 5px;
}

.productdet
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 5px;
}

.ordershippingdet
{
    display: flex;
    flex-direction: column;
}

.ordersummarydet
{
    display: flex;
    flex-direction: column; 
}

