html,body
{
    background-color: #121212;
    color: white;
    height: 100%;
}

.Displayorders
{
    margin-left: 10px;
    margin-right: 10px;
}

.OrderDateOptions
{
    background-color:#1f1f1f;
    width: px;
    height: 35px;
    margin-bottom: 10px;
}

.OrderDateOptions:hover
{
    cursor: pointer;
    background-color: #2e2e2e;
}

.SimplifiedOrder
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #1f1f1f;
    border-radius: 20px;
}

.SimplifiedOrder:hover
{
    background-color: #2e2e2e;
    border: rgba(209, 166, 61, 1) solid 1px;
}

.Productimg
{
    width: 200px;
}

.orderimage
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.BriefOderDet
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

