.productlist-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.productlist-container-scrollview {
  flex: 1;
  padding: 15px;
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: none;

  justify-content: center;

  display: grid;
  grid-template-columns: repeat(3, 0.3fr);
  gap: 5px;
}
