.ProfileSec{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 50px;
}

.ProfileNav{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    height: 350px;
    max-height: 350px;
    background-color: #272727;
    border-radius: 10px;
    grid-column: 1;
}

.ProfileNav h1{
    margin-bottom: 10px;
}

.ProfileItem{
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 175px;
}

.ProfileItem span{
    font-size: 16px;
    font-weight: bold;
}

/*
Address css start
*/
.AddressPage{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    margin-left: 100px;
    grid-column: 2;
}

.btnAddAddr{
    background-color: rgba(209, 166, 61, 1);
    color: black;
    border: none;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    font-weight: bold;
    text-align: center;
}

.btnAddAddr:hover{
    opacity: 0.8;
    border: 2px solid black;
}
/*
Address css end
*/

/*
Detail start
*/
.DetailsPage{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 20px;
    margin-left: 100px;
    grid-column: 2;
}

.DetailBox{
    position: relative;
    background-color: #1a1a1a;
    color: white;
    border-radius: 20px;
    width: 60%;
    padding: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.DetailBox input{
    height: 25px;
}

.btnEditDet{
    background-color: transparent;
    cursor: pointer;
    height: 25px;
    width: 50px;
    margin-left: 200px;
    position: absolute;
    top: 40px;
    right: 25px;
    gap: 10px;
}

.btnEditDet:hover{
    background-color: rgb(51, 50, 50);
}

.btnSave{
    background-color: rgba(209, 166, 61, 1);
    color: black;
    border: none;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    font-weight: bold;
    text-align: center;
}

.btnSave:hover{
    opacity: 0.8;
    border: 2px solid black;
}
/*
Detail end
*/

/*
Order start
*/
.OrdersPage{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    margin-left: 100px;
    grid-column: 2;
}

.OrdReturn{
    cursor: pointer;
    color: rgba(209, 166, 61, 1);
}

.OrderHistory{
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.OrderDet{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.OrderBox{
    background-color: #1a1a1a;
    color: white;
    border-radius: 20px;
    width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.OrderBox:hover{
    background-color: rgb(65, 65, 65);
    border: rgba(209, 166, 61, 1) solid 1px;
}

.DelDate{
    font-size: 16px;
    font-weight: bold;
}

.TotalPrice{
    font-size: 12px;
}
/*
Order end
*/

/*
Order Det start
*/
.OrderDetPage{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    grid-column: 2;
}

.OrdDetSec{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    gap: 2px;
    width: 800px;
    background-color: #1a1a1a;
}

.OrdDetShip{
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.OrderDetProduct{
    padding: 10px;
    display: flex;                   
    gap: 5px;               
    margin-bottom: 10px;    
    background-color: #1a1a1a;
    border-radius: 10px;
    width: 70%;
    align-items: center;
}

.OrdProdDetails{
    margin-left: 25px; 
    display: flex;
    flex-direction:column;
    margin-bottom:10px;
}


.OrderImg{
    border: 2px solid rgba(209, 166, 61, 1);
    border-radius: 10px;
}
/*
Order Det start
*/