html,body
{
    background-color: #121212;
    color: white;
    height: 100%;
}

.displayprof
{
    display: flex;
    flex-direction: column;
}

.Displayprof-row1
{
    display: flex;
    flex-direction: row;
}

.Displayprof-row2
{
    display: flex;
    flex-direction: row;
}

.Profilesection
{
    display: flex;
    flex-direction: row;
    width: 450px;
    padding: 5px;
}

.Profilesection:hover
{
    background-color: gold;
    color: black;
    transform: translate(0%,-2%);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.Icon
{
    width: 100px;
    height: 100px;
}