 .RegisterBoxs {
            height: 100%;
            width: 400px;
            color: white;
            background-color: transparent;
			margin-top:10px;
			
			border-top:none;
			border-left:none;
			border-right:none;
            border-bottom: 1px solid white;
            margin-bottom: 20px;
       
            transition: border-color 0.3s ease;
            padding-left: 5px;
			outline:none;
			
			
        }
        
        .column {
            flex: 1;
            display: flex;
            flex-direction:column;
            align-items: center;
            justify-content: center;
        
            background-color: black;
            color: white;
            width:800px;
            height:800px;
            margin-left:380px;
            margin-top:0px;
             transition: 0.5s ease;
            transition: 0.5s ease-out;

            border-left: 1px solid white;
            border-right: 1px solid white;
        }
        .column:hover
        {
            transition: 1s ease;
            transition: 1s ease-out;
            box-shadow:  5px 0px 10px tan,
                         -5px 0px 10px tan;
            cursor: pointer;
        }
        .Registerloginbtn
		{
			font-size: 16px;
            font-weight: bold;
            width: 500px;
            padding-bottom: 10px;
            padding-top: 10px;
            height: fit-content;
            border-radius: 15px;
            background-color: var(--primary-color);
            border: none;
            color: black;
            cursor: pointer; 
            margin-top: 20px;
        }

        .Registerloginbtn:hover{
            background-color: var(--primary-color-dark);
            border: black solid 2px;
        }

        .imageContainer {
            margin-bottom: 20px;
        }
		.labling
		{
			margin-right:235px;
		}
        