.formStyle {
    width: 800px;
    min-height: 500px;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;   /* stack children vertically */
    justify-content: center;  /* center vertically */
    align-items: center;      /* center horizontally */
    margin: 0 auto;
    background-color: black;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    padding: 20px;
}

.Boxs 
{
    width: 300px;            
    height: 40px;            
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    color: white;
    font-size: 16px;
    padding: 5px;
    margin-top: 10px; /* spacing between inputs */
}
.loginbtn 
{ 
    width: 300px;
    height: 40px;
    border-radius: 15px;
    background-color: tan;
    border-color: white;
    color: black;
    cursor: pointer; 
    margin-top: 20px;
 
}