 .RegisterBoxs {
            height: 100%;
            width: 300px;
            color: white;
            background-color: transparent;
			margin-top:10px;
			
			border-top:none;
			border-left:none;
			border-right:none;
            border-bottom: 1px solid white;
            margin-bottom: 20px;
       
            transition: border-color 0.3s ease;
            padding-left: 5px;
			outline:none;
			
			
        }
        
        .column {
            flex: 1;
            display: flex;
            flex-direction:column;
            align-items: center;
            justify-content: center;
            padding: 30px;
            background-color: black;
            color: white;
            width:400px;
            height:600px;
            margin-left:500px;
            margin-top:40px;
             transition: 0.5s ease;
            transition: 0.5s ease-out;
            border-radius:10px
        }
        .column:hover
        {
            transition: 1s ease;
            transition: 1s ease-out;
            box-shadow:  10px 0px 1px tan,
                         -10px 0px 1px tan;
        }
        .Registerloginbtn
		{
			width:350px;
			height:60px;
            color: black;
			padding:20px;
            background-color: tan;
            border-radius: 20px;
            border: none;
        }
        .imageContainer {
            margin-bottom: 20px;
        }
		.labling
		{
			margin-right:235px;
		}
		input::placeholder {
			font-size: 10px; /* Adjust this value as needed */
			color: #ccc;     /* Optional: change placeholder color */
			font-style: italic; /* Optional: add styling */
		}
        body
        {
            background-color: black;
        }
        